In [1]:
from acquire import get_telco_data
#from prepare import prep_telco_data, prep_telco_data_prediction

import pandas as pd
import numpy as np
from scipy import stats
import math

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import confusion_matrix, classification_report, recall_score, f1_score
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression 
from sklearn.tree import DecisionTreeClassifier

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Planning

## Goals

- Acquire Telco data creeating a fuction that would access the SQL database
- Use a a python funcion that will tidy up the data
- 
-
-
-
- Conclusion, takeaways, and next steps.

# Acquire Data

In [6]:
# Use the imported function from acquire.py to panda data frame
df = get_telco_data()
# View the first 5 recored of data frame a look at our dataframe
df.head(5)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.9,No,Two year,DSL,Mailed check
1,4,1,3,0017-DINOC,Male,0,No,No,54,No,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
2,3,1,3,0019-GFNTW,Female,0,No,No,56,No,...,Yes,No,No,No,45.05,2560.1,No,Two year,DSL,Bank transfer (automatic)
3,4,1,3,0056-EPFBG,Male,0,Yes,Yes,20,No,...,Yes,No,No,Yes,39.40,825.4,No,Two year,DSL,Credit card (automatic)
4,3,1,3,0078-XZMHT,Male,0,Yes,No,72,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.2,No,Two year,DSL,Bank transfer (automatic)

## Prepare

In [4]:
df.shape

(7043, 24)

In [10]:
print(df)

      payment_type_id  internet_service_type_id  contract_type_id customer_id  \
0                   2                         1                 3  0016-QLJIS
1                   4                         1                 3  0017-DINOC
2                   3                         1                 3  0019-GFNTW
3                   4                         1                 3  0056-EPFBG
4                   3                         1                 3  0078-XZMHT
...               ...                       ...               ...         ...
7038                2                         3                 1  9962-BFPDU
7039                2                         3                 1  9967-ATRFS
7040                4                         3                 1  9970-QBCDA
7041                2                         3                 1  9975-SKRNR
7042                3                         3                 1  9986-BONCE

      gender  senior_citizen partner dependents  tenure phone_service  ...  \
0     Female               0     Yes        Yes      65           Yes  ...
1       Male               0      No         No      54            No  ...
2     Female               0      No         No      56            No  ...
3       Male               0     Yes        Yes      20            No  ...
4       Male               0     Yes         No      72           Yes  ...
...      ...             ...     ...        ...     ...           ...  ...
7038  Female               0     Yes        Yes       1           Yes  ...
7039  Female               0      No         No      19           Yes  ...
7040  Female               0      No         No       6           Yes  ...
7041    Male               0      No         No       1           Yes  ...
7042  Female               0      No         No       4           Yes  ...

             tech_support         streaming_tv     streaming_movies  \
0                     Yes                  Yes                  Yes
1                     Yes                  Yes                   No
2                     Yes                   No                   No
3                     Yes                   No                   No
4                     Yes                  Yes                  Yes
...                   ...                  ...                  ...
7038  No internet service  No internet service  No internet service
7039  No internet service  No internet service  No internet service
7040  No internet service  No internet service  No internet service
7041  No internet service  No internet service  No internet service
7042  No internet service  No internet service  No internet service

     paperless_billing monthly_charges total_charges churn   contract_type  \
0                  Yes           90.45        5957.9    No        Two year
1                   No           45.20       2460.55    No        Two year
2                   No           45.05        2560.1    No        Two year
3                  Yes           39.40         825.4    No        Two year
4                  Yes           85.15        6316.2    No        Two year
...                ...             ...           ...   ...             ...
7038                No           20.05         20.05    No  Month-to-month
7039                No           19.90        367.55    No  Month-to-month
7040                No           19.70        129.55    No  Month-to-month
7041                No           18.90          18.9    No  Month-to-month
7042                No           20.95          85.5   Yes  Month-to-month

      internet_service_type               payment_type
0                       DSL               Mailed check
1                       DSL    Credit card (automatic)
2                       DSL  Bank transfer (automatic)
3                       DSL    Credit card (automatic)
4                       DSL  Bank transfer (automatic)
...                     ...                        ...
7038                   None               Mailed check
7039                   None               Mailed check
7040                   None    Credit card (automatic)
7041                   None               Mailed check
7042                   None  Bank transfer (automatic)

[7043 rows x 24 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB